<h2>Your Cart</h2>
<p><%= link_to "Books", "/"%>

<% if @cart.cart_items.any? %>
    <ul>
        <% @cart. cart_items.each do |book| %>
            <li>
                <%= book.book.title%>
                <%= book.quantity%> * $<%= book.book.price%>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>Your cart is empty.</p>
<% end %>
    